/*Colors for chat*/
$color: teal;
$color_body:  -webkit-linear-gradient(left, rgb(221,208,237) 0%,rgb(193,208,225) 22%,rgb(221,208,237) 78%,rgb(193,208,225) 100%);
$green_theme: -webkit-linear-gradient(left, rgb(55,188,37) 0%,rgb(16,86,49) 22%,rgb(16,86,49) 78%,rgb(55,188,37) 100%);
$blue_theme: -webkit-linear-gradient(left, rgb(89,151,172) 0%, rgb(126, 157, 175) 22%,rgb(161,203,221) 78%,rgb(89,151,172) 100%);
$letters: #eeede7;

/*Main settings for all items*/
body {
  background: $blue_theme;
  }
.fa {
  color: rgba(0, 0, 0, 0.49);
}
.btn>p {
  font-family: 'Kaushan Script', cursive;
  color: $letters;
  -webkit-transform: rotate(335deg);
  letter-spacing: 3px;
  margin-top: 10px;
}
.btn {
  padding: 0;
}
#button-addon2 {
  border-bottom-right-radius: 10px;
}
/*Header styles*/
/*.header {
  background: -webkit-linear-gradient(left, rgb(55,188,37) 0%,rgb(16,86,49) 22%,rgb(16,86,49) 78%,rgb(55,188,37) 100%);
}*/
.chat_name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $letters;
  font-family: 'Fredericka the Great', cursive;
}
.time_online {
  color: $letters;
  margin-top: 10px;
  font-family: 'Fredericka the Great', cursive;
}
.chat_name h1 {
  padding-left: 90px;
  font-size: 100px;
}
.user_section {
  margin-top: 35px;

}
#userAge, #userName {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 25px;
}
.currentDate {
  font-size: 30px;
  color: $letters;
  font-family: 'Fredericka the Great', cursive;

}
.current_timer {
  display: inline-block;
  width: 40px;
  height: 70px;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  color: $letters;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.26);
  text-shadow: -2px 5px #0000007a;
  line-height: 30px;
}
.current_timer:after {
  display: block;
  border-top: 1px solid white;
  margin-top: 5px;
  transform: translateX(15%);
  border-radius: 1px;
  width: 32px;
  content: "";
}
.hour:after {
  display: block;
  content: "h";
}
.minutes:after {
  display: block;
  content: "m";
}
.seconds:after {
  display: block;
  content: "s";
}
.chat_info {
  display: inline-block;
}
#my_favi {
  width: 50px;
  height: 50px;
  transform: scale(1.5);
  border-radius: 50%;
}
.user_section a {
  text-decoration: none;
}
.current_date {
  transition: 0.8s;
}
.fa-envelope {
  color: $letters;
  transform: scale(1.8);
  position: absolute;
  margin-top: 10px;
}
.msg_quantity {
  position: relative;
  font-weight: 800;
  display: block;
  top: 0;
  color: red;
  margin-left: 23px;
  margin-top: -5px;
}

/*Styles for CONTENT section*/

.main_body {
  height: 710px;
}
.users_info {
  margin-top: 10px;
  text-align: center;
  padding-top: 3px;
  height: 75vh;
  background: white;
  border-radius: 10px;
  }
.users_info a {
  font-weight: 900;
  color: rgb(76, 107, 152);
  font-family: 'Fredericka the Great', cursive;
}
.users_info h6 {
  display: inline-block;
  font-size: 20px;
}
.users_info:after {
  content: "";
  display: block;
  border-bottom: 3px solid rgb(89,151,172);
}
.switching_users {
  background: #4f4f4f;
  border-radius: 8px;
}
.messages {
  position: relative;
  margin-top: 10px;
  height: 75vh;
  background: white;
  border-radius: 10px;
}
.switch_chat {
  margin: 10px 0 0 0;
  padding: 0;
  display: flex;
  font-family: 'Fredericka the Great', cursive;
  justify-content: center;
  align-items: center;
}
.switch_chat li {
  list-style: none;
  margin: 0 20px;
}
.switch_chat li a {
  color: $letters;
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.5s;
}
/*Online/offline users section*/
.users_in_chat {
  height: 75vh;
  background: white;
  border-radius: 10px;
  padding: 0;
}
.users_online {
  width: 80px;
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
  color:  #5b99ae;
  font-weight: 800;
}
.chat_users {
  width: 40px;
  height: 40px;
}
.users_names {
  font-family: 'Fredericka the Great', cursive;
  color:  #5b99ae;
  font-weight: 800;
  margin-left: 10px;
}
.participants {
  margin-bottom: 20px;
  border-radius: 10px;
}
.online_in_chat {
  color: #00b100;
  text-align: center;
}
.offline_in_chat {
  color: orange;
  text-align: center;
}
.parteven {
  background: rgba(0, 0, 0, 0.05);
}
.partodd {
  background: rgba(0, 0, 0, 0.16);
}

/*Message area*/
.message_area {
  position: absolute;
  bottom: -16px;
  height: 100px;
}
.form-control  {
  border-radius: 10px;
  border: 1px solid black;
}
.btn-outline-secondary {
  background-color: black;
  width: 60px;
}
.fa-caret-square-o-right {
  color: $letters;
  transform: scale(1.8);
}
.nav-tabs {
  font-family: 'Fredericka the Great', cursive;
  color: rgb(76, 107, 152);
}
.nav-tabs .nav-link.active {
  background: #5a97ac;
  color: white;
}
.msg_users {
  color: #5a97ac;
  font-weight: 800;
}

/*Message decoration area*/
.text_decoration {
  width: 93.5%;
  border-radius: 10px;
  position: absolute;
  background: #5b98abab;
  bottom: 0;
  z-index: 9999;
}
.text_settings {
  padding: 0;
  margin: 0;
  float: left;
  display: flex;
  font-family: 'Fredericka the Great', cursive;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
}
.text_settings li {
  list-style: none;
  margin-right: 4px;
  }
.msg_info {
  width: 90%;
  bottom: 25px;
  position: absolute;
  text-align: right;
 }
.text_info {
  float: left;
  display: flex;
  font-size: 10px;
}
.text_infos li {
  margin-right: 10px;
}
/*Hover effects*/

a:hover {
  color: $letters;
}
#userName:hover, #userAge:hover, .fa:hover, .switch_chat li a:hover {
 color: #9a9a9a;
}
.users_online:hover {
  color: #315163;
}
.users_info a:hover {
  color: grey;
}
.btn-outline-secondary:hover {
  background-color: rgb(89,151,172);
}
.text_style:hover {
  color: $letters;
}
.msg_users:hover {
  color: rgb(55, 90, 110);
  font-weight: 800;
  background: rgba(0, 0, 0, 0.2);
}

/*Media requests*/
@media (max-width: 1203px) {
  .chat_name h1 {
    font-size: 80px;
  }
  .text_decoration {
    width: 92.5%;
  }
}
@media (max-width: 992px) {
  .chat_name h1 {
    font-size: 55px;
    padding: 0;
  }
  #my_favi {
    width: 40px;
    height: 40px;
  }
  .user_section {
    margin-top: 50px;
  }
  .users_info {
    height: 70px;
    width: 400px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    margin-bottom: 10px;
    border: 1px solid rgb(89,151,172);
  }
  .users_info h6, .divide {
    font-size: 10px;
  }
  .messages {
    margin-bottom: 370px;
    height: 400px;
  }
  .text_decoration {
    width: 91.5%;
  }
}
@media (max-width: 770px) {
  .header {
    height: 120px;
  }
  .current_date {
    transform: scale(0.5);
  }
  .currentTime {
    display: inline-block;
  }
  .chat_name h1 {
    font-size: 20px;
    text-transform: uppercase;
  }
  .time_online p{
    margin-top: 15px;
    font-size: 18px;
  }
  .switch_chat li {
    transform: scale(0.6);
    margin: 0 8px;
  }
  .text_decoration {
    width: 88.5%;
  }
}





































