/*Colors for chat*/
$color: teal;
$color_body:  -webkit-linear-gradient(left, rgb(221,208,237) 0%,rgb(193,208,225) 22%,rgb(221,208,237) 78%,rgb(193,208,225) 100%);
$green_theme: -webkit-linear-gradient(left, rgb(55,188,37) 0%,rgb(16,86,49) 22%,rgb(16,86,49) 78%,rgb(55,188,37) 100%);
$blue_theme: -webkit-linear-gradient(left, rgb(89,151,172) 0%, rgb(126, 157, 175) 22%,rgb(161,203,221) 78%,rgb(89,151,172) 100%);
$letters: #eeede7;

/*Main settings for all items*/
body {
  background: $blue_theme;
  }
.main_boby_chat {
  display: none;
}
.fa {
  color: rgba(0, 0, 0, 0.49);
}
.btn {
  padding: 0;
}
#button-addon2 {
  border-bottom-right-radius: 10px;
}
/*Styles for modal window*/
.entering_text {
  text-align: center;
}
#signOut {
  position: absolute;
  top: 10px;
  right: 100px;
  padding: 5px;
}
.modal_buttons {
  padding: 5px;
}

/*Header styles*/
/*.header {
  background: -webkit-linear-gradient(left, rgb(55,188,37) 0%,rgb(16,86,49) 22%,rgb(16,86,49) 78%,rgb(55,188,37) 100%);
}*/
.chat_name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $letters;
  font-family: 'Fredericka the Great', cursive;
}

.time_online {
  color: $letters;
  margin-top: 10px;
  font-family: 'Fredericka the Great', cursive;
}
.chat_name h1 {
  padding-left: 90px;
  font-size: 100px;
}
.user_section {
  margin-top: 35px;
  text-align: right;
 }
#userAge, #userName {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 25px;
}
.currentDate {
  font-size: 30px;
  color: $letters;
  font-family: 'Fredericka the Great', cursive;

}
.current_timer {
  display: inline-block;
  width: 40px;
  height: 70px;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  color: $letters;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.26);
  text-shadow: -2px 5px #0000007a;
  line-height: 30px;
}
.current_timer:after {
  display: block;
  border-top: 1px solid white;
  margin-top: 5px;
  transform: translateX(15%);
  border-radius: 1px;
  width: 32px;
  content: "";
}
.hour:after {
  display: block;
  content: "h";
}
.minutes:after {
  display: block;
  content: "m";
}
.seconds:after {
  display: block;
  content: "s";
}
.chat_info {
  display: inline-block;
}
#my_favi {
  width: 50px;
  height: 50px;
  transform: translateX(-50%) scale(1.5);
  border-radius: 50%;

}
.user_section a {
  text-decoration: none;
  }
.current_date {
  transition: 0.8s;
}
.fa-envelope {
  color: $letters;
  transform: scale(1.8);
  position: absolute;
  margin-top: 10px;
  right: 20px;
}
.msg_quantity {
  position: relative;
  font-weight: 800;
  display: block;
  top: 0;
  color: red;
  margin-left: 255px;
  margin-top: -5px;
}

/*Styles for CONTENT section*/

.main_body {
  height: 710px;
}
.area_messages {
  overflow: scroll;
  height: 350px;
  padding-bottom: 10px;
}
.messages {
  position: relative;
  margin-top: 10px;
  height: 400px;
  background: white;
  border-radius: 10px;
}
/*Online/contacts users section*/
.users_in_chat {
  height: 560px;
  background: white;
  border-radius: 10px;
  padding: 0;
  overflow: auto;
}
.users_online {
  width: 470%;
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
  color:  #5b99ae;
  font-weight: 800;
}
.chat_users {
  width: 40px;
  height: 40px;
  }
.users_names {
  font-family: 'Fredericka the Great', cursive;
  color:  #5b99ae;
  font-weight: 800;
  margin-left: 10px;
}
.participants {
  margin-bottom: 20px;
  border-radius: 10px;
}
.online_in_chat {
  color: #00b100;
  text-align: center;
}
.contacts_in_chat {
  color: orange;
  text-align: center;
}
.parteven {
  background: rgba(0, 0, 0, 0.05);
}
.partodd {
  background: rgba(0, 0, 0, 0.16);
}

/*Message area*/
.message_area {
  position: absolute;
  height: 150px;
  margin-top: 10px;
  width: 97%;
}
.form-control  {
  border-radius: 10px;
  border: 1px solid black;
  z-index: 0;
}
.btn-outline-secondary {
  background-color: #315163;
  width: 60px;
}
.nav-tabs {
  font-family: 'Fredericka the Great', cursive;
  color: rgb(76, 107, 152);
}
.nav-tabs .nav-link.active {
  background: #5a97ac;
  color: white;
}
.msg_users {
  color: #5a97ac;
  font-weight: 800;
}

/*Message decoration area*/
.btn-secondary {
  width: 35px;
}
.text_decoration {
  position: absolute;
  display: block;
  bottom: 2px;
  left: 10px;
  z-index: 9999;
}
.btn-info {
  width: 25px;
}
.fa-paper-plane-o {
  color: #5aaefb;
  transform: scale(1.4);
}
.msg_info {
  width: 90%;
  bottom: 2px;
  position: absolute;
  text-align: right;
  z-index: 9999;
 }
.text_style {
  margin-left: 5px;
  color: black;
}
.text_data {
  margin-left: 10px;
  font-size: 12px;
}
.text_info {
  float: left;
  display: flex;
  font-size: 10px;
}
.text_infos li {
  margin-right: 10px;
}
.friend_text {
  background: rgba(78, 135, 156, 0.3);
  padding: 5px;
  border-radius: 10px;
}
.your_text {
  background: #b1d58e;
  border-radius: 10px;
  text-align: right;
  }
.msg_time {
  font-size: 10px;
  text-align: right;
}
.dialog {
  width: 95%;
  height: 70px;
  margin-left: 40px;
}
.dialog>p {
  position: relative;
}
.dialog>p>img {
  position: absolute;
  left: -50px;
}
.your_logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/*Hover effects*/

a:hover {
  color: $letters;
}
#userName:hover, #userAge:hover, .fa:hover, .switch_chat li a:hover {
 color: #9a9a9a;
}
.users_online:hover {
  color: #315163;
}
.btn-outline-secondary:hover {
  background-color: #1a2534;
}
.msg_users:hover {
  color: rgb(55, 90, 110);
  font-weight: 800;
  background: rgba(0, 0, 0, 0.2);
}
.text_style:hover {
  color: white;
}
.users_names:hover {
  color: #315163;
}

/*Media requests*/
@media (max-width: 1203px) {
  .chat_name h1 {
    font-size: 80px;
  }
  .text_decoration {
    width: 92.5%;
  }
  .users_online {
    width: 380%;
  }
  .chat_users {
    width: 30px;
    height: 30px;
  }
  .users_names {
    font-size: 12px;
  }
  .msg_quantity {
    margin-left: 210px;
  }
}

@media (max-width: 992px) {
  .chat_name h1 {
    font-size: 55px;
    padding: 0;
  }
  #my_favi {
    width: 40px;
    height: 40px;
  }
  .user_section {
    margin-top: 50px;
  }
  .messages {
    margin-bottom: 370px;
    height: 400px;
    width: 100%;
  }
  .message_area {
    top: 410px;
    width: 96%;
  }
  .text_decoration {
    width: 91.5%;
  }
  .users_in_chat {
    position: absolute;
    width: 96%;
    height: 150px;
    bottom: -700px;
  }
  .users_online {
    width: 70px;
  }
  .participants {
    width: 20%;
    display: inline-block;
    margin-left: 25px;
  }
  .msg_quantity {
    margin-left: 150px;
  }
}
@media (max-width: 770px) {
  .header {
    height: 120px;
  }
  .current_date {
    transform: scale(0.5);
  }
  .currentTime {
    display: inline-block;
  }
  .chat_name h1 {
    font-size: 20px;
    text-transform: uppercase;
  }
  .time_online p{
    margin-top: 15px;
    font-size: 18px;
  }
  .switch_chat li {
    transform: scale(0.6);
    margin: 0 8px;
  }
  .text_decoration {
    width: 88.5%;
  }
  .participants {
    margin-left: 15px;
  }
  .msg_quantity {
    margin-left: 150px;
  }
  .users_in_chat {
    width: 95%;
  }
  .message_area {
    width: 95%;
  }
  #userAge, #userName {
    font-size: 20px;
  }
}





































